name: docker ci
on:
  push:
    branch:
      - dockerbranch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      uses: actions/checkout@v4
      uses: docker/setup-buildx-action@v4
      run: docker build -t nothing .